$boundaries: margin, padding;

@each $boundary in $boundaries {
  .#{$boundary} {
    &-auto{
      #{$boundary}: auto !important;
    }
    @for $i from 0 through 10{
      @for $y from 1 through 10 {
        &-#{$i}#{if($y != 10, '\\.' + $y, '')} {
          #{$boundary}: #{$i}#{if($y != 10, '.' + $y, '')}rem !important;
        }
        &-minus-#{$i}#{if($y != 10, '\\.' + $y, '')} {
          #{$boundary}: -#{$i}#{if($y != 10, '.' + $y, '')}rem !important;
        }
      }
    }
    $sides: top, right, bottom, left;
    @each $side in $sides {
      &-#{$side}{
        &-auto{
          #{$boundary}-#{$side}: auto !important;
        }
        @for $i from 0 through 10{
          @for $y from 1 through 10 {
            &-#{$i}#{if($y != 10, '\\.' + $y, '')} {
              #{$boundary}-#{$side}: #{$i}#{if($y != 10, '.' + $y, '')}rem !important;
            }
            &-minus-#{$i}#{if($y != 10, '\\.' + $y, '')} {
              #{$boundary}-#{$side}: -#{$i}#{if($y != 10, '.' + $y, '')}rem !important;
            }
          }
        }
      }
    }

    &-horizontal{
      &-auto{
        #{$boundary}-left: auto !important;
        #{$boundary}-right: auto !important;
      }
      @for $i from 0 through 10{
        @for $y from 1 through 10 {
          &-#{$i}#{if($y != 10, '\\.' + $y, '')} {
            #{$boundary}-left: #{$i}#{if($y != 10, '.' + $y, '')}rem !important;
            #{$boundary}-right: #{$i}#{if($y != 10, '.' + $y, '')}rem !important;
          }
          &-minus-#{$i}#{if($y != 10, '\\.' + $y, '')} {
            #{$boundary}-left: -#{$i}#{if($y != 10, '.' + $y, '')}rem !important;
            #{$boundary}-right: -#{$i}#{if($y != 10, '.' + $y, '')}rem !important;
          }
        }
      }
    }
    &-vertical{
      &-auto{
        #{$boundary}-top: auto !important;
        #{$boundary}-bottom: auto !important;
      }
      @for $i from 0 through 10{
        @for $y from 1 through 10 {
          &-#{$i}#{if($y != 10, '\\.' + $y, '')} {
            #{$boundary}-top: #{$i}#{if($y != 10, '.' + $y, '')}rem !important;
            #{$boundary}-bottom: #{$i}#{if($y != 10, '.' + $y, '')}rem !important;
          }
          &-minus-#{$i}#{if($y != 10, '\\.' + $y, '')} {
            #{$boundary}-top: -#{$i}#{if($y != 10, '.' + $y, '')}rem !important;
            #{$boundary}-bottom: -#{$i}#{if($y != 10, '.' + $y, '')}rem !important;
          }
        }
      }
    }
  }
}

.radius{
  border-radius: 50% !important;
  @for $i from 0 through 10 {
    @for $y from 1 through 10{
     &-#{$i}#{if($y != 10, '\\.' + $y, '')} {
       $size: #{$i}#{if($y != 10, '.' + $y, '')}rem !important;
       border-radius: $size;
     }
   }
 }
}